
/* crosshair cursor for canvas */
canvas {
  cursor: crosshair;
  width: 100%;
  height: auto;
  display: block;
}

/* main layout */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: start;
  justify-content: center;
  margin: 2rem 0 0;
}

/* individual plot and options box styles */
.plot {
  flex: 1 1 350px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
}

.options {
  flex: 0 1 auto;
  width: fit-content;
  padding: 1rem;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
}


/* font and color styles */
body {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: Helvetica, sans-serif;
  color: #263238;
  background-color: #f7f9fa;
  line-height: 1.6;
  overscroll-behavior: none; /* remove annoying white space "bounce" */
}

h1 {
  color: #164e63;
  font-size: 2.25rem;
  margin-top: 0;
}

h2 {
  color: #0e7490;
  font-size: 1.5rem;
}
.options h2 {
  margin-top: 0;
}
.plot h2 {
  margin-left: 1rem;
  margin-bottom: 0;
}


p {
    font-size: 1rem;
}

/* line underneath main heading */
h1::after {
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 0.5rem;
    background-color: #22a3b6;
    content: "";
}

/* form styles */

#parameter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

#parameter-form input {
  box-sizing: border-box;
  width: 6rem;
  justify-self: start;
  padding: 0.5rem;
  border: 1px solid #b0bec5;
  border-radius: 16px;
  font: inherit;
  font-size: 0.75rem;
}

#parameter-form button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 16px;
  color: white;
  background: #0e7490;
  font: inherit;
  cursor: pointer;

  /* centre button */
  grid-column: 1 / -1;
  justify-self: center;
}

#parameter-form button:hover {
  background: #164e63;
}
